#dashboard {
	width: 1200px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 30px;
	grid-row-gap: 50px;
	margin: 50px auto;
}

#dashboard > div a.image {
	display: block;
	padding: 20px;
	background: #fff;
	margin-bottom: 20px;
	border-radius: 3px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

#dashboard > div a.image img {
	width: 100%;
	height: 250px;
	object-fit: contain;
	line-height: 25px;
	transition: .5s;
}

#dashboard > div a.image:hover img {
	transform: scale(1.1);
}

#dashboard > div div {
	position: relative;
	overflow: hidden;
}

#dashboard > div div label {
	display: block;
	margin-bottom: 5px;
}

#dashboard > div div label a {
	font-weight: bold;
}

#dashboard > div div span {
	display: block;
	color: var(--cl);
	transition: .5s;
}

#dashboard > div div a.add_to_cart {
	display: block;
	position: absolute;
	right: 5px;
	bottom: 5px;
	margin-right: -35px;
	width: 30px;
	height: 30px;
	background-image: url("../images/add.png");
	background-size: 20px 20px;
	background-position: 5px 5px;
	background-repeat: no-repeat;
	border-radius: 100%;
	cursor: pointer;
	transition: .3s;
}

#dashboard > div:hover div a.add_to_cart {
	margin: 0;
}

#dashboard > div div a.add_to_cart:hover {
	background-color: #e0e0e0;
}

#dashboard > div div a.add_to_cart[disabled] {
	margin: 0;
	background-color: #ddd;
	transform: rotate(90deg);
}

@media only screen and (min-width: 1001px) and (max-width: 1400px) {

	#dashboard {
		grid-template-columns: 1fr 1fr 1fr;
	}

}

@media only screen and (max-width: 1000px) {

	#dashboard {
		grid-template-columns: 1fr 1fr;
	}

}

main #dashboard {
	width: 970px;
	margin: 0 30px 0 0;
}

main #dashboard > div a.image img {
	height: 190px;
}

main #filtri {
	align-self: start;
	float: right;
	display: block;
	width: 200px;
	padding: 30px;
	box-sizing: border-box;
	/*border: 1px solid #ddd;*/
	/*background: #ddd;*/
	background: #fff;
	border-radius: 3px;
}

main #filtri label {
	display: block;
	margin-bottom: 20px;
}

main #filtri label input {
	width: 100%;
}
