#dashboard {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 30px;
	grid-row-gap: 50px;
}

#dashboard > div a.image {
	display: block;
	padding: 20px;
	background: #fff;
	margin-bottom: 20px;
	border-radius: 3px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

#dashboard > div a.image img {
	width: 100%;
	height: 250px;
	object-fit: contain;
	line-height: 25px;
	transition: .5s;
}

#dashboard > div a.image:hover img {
	transform: scale(1.1);
}

#dashboard > div div {
	position: relative;
	overflow: hidden;
}

#dashboard > div div label {
	display: block;
	margin-bottom: 5px;
}

#dashboard > div div label a {
	font-weight: bold;
}

#dashboard > div div span {
	display: block;
	color: var(--cl);
	transition: .5s;
}

#dashboard > div div a.add_to_cart {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 30px;
	height: 30px;
	background-image: url("https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-15-256.png");
	background-size: cover;
	margin-right: -30px;
	border-radius: 100%;
	cursor: pointer;
	transition: .3s;
}

#dashboard > div:hover div a.add_to_cart {
	margin: 0;
}

#dashboard > div div a.add_to_cart[disabled] {
	margin: 0;
	background-color: #e0e0e0;
}

@media only screen and (min-width: 1001px) and (max-width: 1400px) {

	#dashboard {
		grid-template-columns: 1fr 1fr 1fr;
	}

}

@media only screen and (max-width: 1000px) {

	#dashboard {
		grid-template-columns: 1fr 1fr;
	}

}
