footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: #444;
	color: #eee;
	padding: 30px 0;
	z-index: 80;
}

footer div {
	display: block;
	width: 140px;
	margin: auto;
	text-align: center;
}

footer div h2 {
	font-size: 1.2em;
	margin-bottom: 10px;
}

footer div a {
	display: block;
	color: rgba(255, 255, 255, .8);
	line-height: 24px;
	transition: .3s;
}

footer div a:hover {
	/*background: var(--cl);*/
	box-shadow: inset 140px 0 0 0 var(--cl);
	color: #fff;
}
