@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Montserrat:400,400i,700,700i');

body {
	font-family: Open Sans, sans-serif;
	font-size: 16px;
	background: #eee;
	overflow-y: scroll;
	padding-top: 125px;
}

:root {
	--cl: #78e;
	--bg: #55b;
	--price: #5b5;
	--title-font: Montserrat, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

a, input {
	outline: 0;
}

input {
	font-family: inherit;
}

input[type='submit'] {
	cursor: pointer;
}

.wrapper {
	position: relative;
	margin: auto;
	width: 1200px;
}
