input[type='text'],
input[type='password'],
input[type='number'],
input[type='email'],
select {
	font-family: inherit;
	width: 100%;
	height: 35px;
	padding: 0 10px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 3px;
	outline: 0;
	transition: .2s;
}

input[type='text']:hover,
input[type='password']:hover,
input[type='number']:hover,
input[type='email']:hover,
select:hover {
	border-color: #999;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='email']:focus,
select:focus {
	border-color: var(--cl);
	box-shadow: 0 0 15px rgba(0, 0, 0, .15);
}

input[type='submit'] {
	cursor: pointer;
}

form {
	width: 400px;
	margin: 0 auto 50px auto;
}

form fieldset {
	padding: 30px;
	background: #fff;
	border: 0;
	border-radius: 3px;
	margin: 0 auto 30px auto;
}

form fieldset > label {
	width: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto 10px auto;
}

form fieldset label span {
	width: 100%;
	line-height: 35px;
}

form fieldset label label {
	margin-top: 10px;
	font-style: italic;
	background: var(--cart);
	padding: 4px 6px;
	border-radius: 3px;
}

input[type='submit'] {
	display: block;
	margin: auto;
	font-size: 1.25em;
	font-weight: normal;
	color: rgba(255, 255, 255, .8);
	background: var(--cl);
	border: 0;
	border-radius: 3px;
	padding: 0 20px;
	height: 40px;
	transition: .3s;
	cursor: pointer;
}

input[type='submit']:hover {
	color: #fff;
	background: var(--bg);
	box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

form .msg {
	display: none;
	color: #fff;
	background: #f63;
	border-radius: 3px;
	line-height: 1.1em;
	padding: 5px;
	margin-top: 20px;
}

form .msg.shown {
	display: block;
}
