#overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	z-index: 100;
}

#overlay.shown {
	display: block;
}

#overlay div {
	display: block;
	background: #fff;
	margin: 50vh auto 0 auto;
	padding: 30px;
	box-sizing: border-box;
	transform: translate(0, -50%);
	width: 250px;
	border-radius: 3px;
	text-align: center;
	font-size: 1.2em;
}

#notification {
	position: fixed;
	left: 0;
	bottom: 0;
	margin-left: 20px;
	background: var(--price);
	padding: 0 20px;
	line-height: 35px;
	margin-bottom: -35px;
	z-index: 100;
	transition: .3s;
}

#notification.shown {
	margin-bottom: 0;
}
