@media only screen and (min-width: 1001px) and (max-width: 1400px) {

	/* GENERAL */
	main, h1, nav {
		width: 800px;
	}

	/* CAROUSEL */
	#carousel {
		height: 210px;
	}

	#carousel > a.active span {
		bottom: 30px;
	}

	/* MOSAIC */
	#mosaic a img {
		height: 180px;
	}

	/* DASHBOARD */
	#dashboard {
		grid-template-columns: 1fr 1fr 1fr;
	}

	#dashboard > div a.image img {
		height: 200px;
	}

	main #dashboard > div a.image img {
		height: 140px;
	}

}

@media only screen and (min-width: 701px) and (max-width: 1000px) {

	/* GENERAL */
	main, h1, nav {
		width: 600px;
	}

	/* CAROUSEL */
	#carousel {
		height: 140px;
	}

	#carousel > a.active span {
		line-height: 50px;
	}

	#carousel > a.active span {
		bottom: 20px;
	}

	/* DASHBOARD */
	#dashboard {
		grid-template-columns: 1fr 1fr;
	}

	#dashboard > div a.image img {
		height: 160px;
	}

	main #dashboard > div a.image img {
		height: 100px;
	}

}

@media only screen and (max-width: 700px) {

	main, h1, nav {
		width: calc(100% - 20px);
	}

	#carousel {
		height: 150px;
	}

	#dashboard {
		width: 250px;
		grid-template-columns: 1fr;
	}

	#dashboard > div a.image img {
		height: 150px;
	}

}

@media only screen and (max-width: 1000px) {

	#firstbar #centerside form input[type="text"] {
		width: 140px;
	}

	main #filtri {
		width: 100%;
		margin: 0 0 30px 0;
	}

	main #dashboard {
		order: 2;
		margin: auto;
	}

}
