#topbar {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 90;
}

#topbar #firstbar > div,
#topbar #lastbar > div {
	width: 1200px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#firstbar {
	width: 100%;
	background: #fff;
}

#firstbar header {
	display: block;
}

#firstbar header a {
	display: block;
	color: var(--cl);
	font-family: var(--title-font);
	font-size: 1.3em;
	line-height: 70px;
}

#firstbar form {
	display: flex;
	margin: 0;
	padding: 0;
	width: auto;
	height: 35px;
	position: relative;
}

#firstbar form input[type='text'] {
	padding: 0 10px;
	border-radius: 3px 0 0 3px;
	border: 1px solid #aaa;
	border-right: 0;
	width: 300px;
}

#firstbar form input[type='submit'] {
	border-radius: 0 3px 3px 0;
	border: 1px solid #aaa;
	color: var(--cl);
	font-weight: bold;
	transition: .3s;
}

#firstbar form input[type='submit']:hover {
	color: #fff;
	background: var(--cl);
}

#firstbar form .results {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	display: block;
	max-height: 200px;
	padding: 10px 0;
	border-radius: 0 0 3px 3px;
	box-shadow: 5px 10px 15px rgba(0, 0, 0, .3);
	background: white;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	z-index: 95;
}

#firstbar form .results.shown {
	opacity: 1;
	visibility: visible;
}

#firstbar form .results a {
	display: flex;
	height: 40px;
	padding: 5px;
	box-sizing: border-box;
	transition: .3s;
}

#firstbar form .results a:hover {
	padding-left: 10px;
	box-shadow: inset 5px 0 0 var(--cl);
}

#firstbar form .results a img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	object-fit: cover;
}

#firstbar form .results a span {
	display: block;
	font-size: .9em;
	line-height: 30px;
}

#lastbar {
	width: 100%;
	background: #ddd;
}

#lastbar ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: flex-start;
}

#lastbar ul li {
	display: block;
}

#lastbar ul li a {
	display: block;
	line-height: 35px;
	padding: 0 15px;
	margin: 10px 10px 10px 0;
	border-radius: 10px;
	color: #666;
	font-size: 1.2em;
	transition: .3s;
}

#lastbar ul li:hover > a {
	color: #333;
	background: #eee;
	box-shadow: 0 3px 0 #ccc;
}

#lastbar ul li ul:before {
	content: "";
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 12px solid #fff;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -12px;
	margin-left: 10px;
}

#lastbar ul li ul {
	display: block;
	padding: 10px 0;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 15px rgba(0, 0, 0, .2);
	opacity: 0;
	visibility: hidden;
	position: absolute;
	transition: .5s;
}

#lastbar ul li:hover ul {
	opacity: 1;
	visibility: visible;
}

#lastbar ul li ul li a {
	line-height: 30px;
	padding: 0 15px;
	margin: 0;
	border-radius: 0;
	font-size: 1em;
}

#lastbar ul li ul li:hover > a {
	background: #ddd;
	padding-left: 20px;
	padding-right: 10px;
	box-shadow: inset 5px 0 0 var(--bg);
}
