header {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 90;
}

header > div {
	width: 100%;
}

header > div:first-child {
	background: #fff;
}

header > div:last-child {
	background: #ddd;
}

#firstbar {
	width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-content: space-between;
}

#firstbar #leftside {
	display: flex;
	padding: 20px 0;
}

#firstbar #leftside a:first-child {
	font-weight: bold;
	font-size: 1.1em;
	color: var(--cl);
	box-shadow: none;
}

#firstbar #leftside a {
	display: block;
	padding: 0 10px;
	line-height: 25px;
	box-shadow: -1px 0 0 #ddd;
	margin-left: 1px;
}

#firstbar #centerside form {
	display: flex;
	margin: 0;
	padding: 0;
	width: auto;
	height: 35px;
	position: relative;
}

#firstbar #centerside form input[type='text'] {
	padding: 0 10px;
	border-radius: 15px 0 0 15px;
	border: 1px solid #ccc;
	border-right: 0;
	width: 300px;
}

#firstbar #centerside form input[type='submit'] {
	border-radius: 0 15px 15px 0;
	border: 1px solid #ccc;
	color: var(--cl);
	background-image: url("https://cdn4.iconfinder.com/data/icons/developer-set-3/128/find-512.png");
	background-size: 15px 15px;
	background-position: center;
	background-repeat: no-repeat;
	width: 35px;
	font-weight: bold;
	transition: .3s;
}

#firstbar #centerside form input[type='submit']:hover {
	border-color: #aaa;
}

#firstbar #centerside form .results {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	display: block;
	max-height: 200px;
	padding: 10px 0;
	border-radius: 0 0 3px 3px;
	box-shadow: 5px 10px 15px rgba(0, 0, 0, .3);
	background: white;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	z-index: 95;
}

#firstbar #centerside form .results.shown {
	opacity: 1;
	visibility: visible;
}

#firstbar #centerside form .results a {
	display: flex;
	height: 40px;
	padding: 5px;
	box-sizing: border-box;
	transition: .3s;
}

#firstbar #centerside form .results a:hover {
	padding-left: 10px;
	box-shadow: inset 5px 0 0 var(--cl);
}

#firstbar #centerside form .results a img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	object-fit: cover;
}

#firstbar #centerside form .results a span {
	display: block;
	font-size: .9em;
	line-height: 30px;
}

#firstbar #rightside {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 15px;
	justify-content: right;
}

#firstbar #rightside label {
	display: block;
}

#firstbar #rightside label a {
	display: block;
	width: 35px;
	height: 35px;
}

#firstbar #rightside label a img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#firstbar #rightside label.carrello {
	position: relative;
}

#firstbar #rightside label.carrello a span {
	position: absolute;
	margin-top: 25px;
	margin-right: -2px;
	top: 0;
	right: 0;
	border-radius: 100%;
	width: 20px;
	text-align: center;
	line-height: 20px;
	background: var(--cart);
}

nav {
	width: 1200px;
	margin: auto;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}

nav ul li {
	display: block;
}

nav ul li a {
	display: block;
	line-height: 35px;
	padding: 0 15px;
	margin: 10px 10px 10px 0;
	border-radius: 10px;
	color: #666;
	font-size: 1.2em;
	transition: .3s;
}

nav ul li:hover > a,
nav ul li.active > a {
	color: #333;
	background: #eee;
	box-shadow: 0 3px 0 #ccc;
}

nav ul li ul:before {
	content: "";
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 12px solid #fff;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -12px;
	margin-left: 10px;
}

nav ul li ul {
	display: block;
	padding: 10px 0;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 15px rgba(0, 0, 0, .2);
	opacity: 0;
	visibility: hidden;
	position: absolute;
	transition: .5s;
}

nav ul li:hover ul {
	opacity: 1;
	visibility: visible;
}

nav ul li ul li a {
	line-height: 30px;
	padding: 0 15px;
	margin: 0;
	border-radius: 0;
	font-size: 1em;
}

nav ul li ul li:hover > a {
	background: #ddd;
	padding-left: 20px;
	padding-right: 10px;
	box-shadow: inset 5px 0 0 var(--cl);
}

nav ul li ul li.active > a {
	background: #ddd;
	box-shadow: none;
}
