#topbar {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	/*background: var(--cl);*/
	border-bottom: 2px solid var(--bg);
	background: #fff;
	border-bottom-color: #ddd;
	z-index: 90;
}

#topbar .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	width: 1200px;
}

#topbar header {
	display: block;
	font-family: var(--title-font);
}

#topbar header a {
	display: block;
	color: var(--cl);
	font-size: 1.2em;
	line-height: 80px;
	text-decoration: none;
}

#topbar form {
	display: flex;
	margin: 0;
	padding: 0;
	height: 35px;
	position: relative;
}

#topbar form input[type='text'] {
	padding: 0 10px;
	border-radius: 3px 0 0 3px;
	border: 1px solid #aaa;
	border-right: 0;
	width: 300px;
}

#topbar form input[type='submit'] {
	border-radius: 0 3px 3px 0;
	border: 1px solid #aaa;
	color: var(--cl);
	font-weight: bold;
	transition: .3s;
}

#topbar form input[type='submit']:hover {
	color: #fff;
	background: var(--cl);
}

#topbar form .results {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	display: block;
	max-height: 200px;
	padding: 10px 0;
	border-radius: 0 0 3px 3px;
	box-shadow: 5px 10px 15px rgba(0, 0, 0, .3);
	background: white;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}

#topbar form .results.shown {
	opacity: 1;
	visibility: visible;
}

#topbar form .results a {
	color: inherit;
	text-decoration: none;
	display: flex;
	height: 40px;
	padding: 5px;
	box-sizing: border-box;
	transition: .3s;
}

#topbar form .results a:hover {
	padding-left: 10px;
	box-shadow: inset 5px 0 0 var(--cl);
}

#topbar form .results a img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	object-fit: cover;
}

#topbar form .results a span {
	display: block;
	font-size: .9em;
	line-height: 30px;
}

#topbar ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}

#topbar ul li {
	display: block;
}

#topbar ul li a {
	display: block;
	line-height: 80px;
	padding: 0 15px;
	text-decoration: none;
	color: #666;
	font-size: 1.1em;
	transition: .3s;
}

#topbar ul li:hover a {
	color: #333;
	box-shadow: inset 0 -3px 0 var(--bg);
}
